/Vokabeltrainer/nbproject/private/
/Vokabeln/nbproject/private/
/Newsreader/nbproject/private/
/Newsreader/build/
/Newsreader/dist/
/TicTacToe/nbproject/private/
/S7Connector/nbproject/private/
/moka7-full-1.0.2/Moka7-NetBeans/build/
/moka7-full-1.0.2/Moka7-NetBeans/dist/
/moka7-full-1.0.2/Moka7-NetBeans/nbproject/private/